@charset "UTF-8";

.rent_TblTitle {
	color: #ffffff;
	padding: 5px;
	margin: 0px 5px 0px 0px;
	font-weight: bold;
	text-align: left;
	border-left: solid 10px #ffcf11;
	border-bottom: solid 1px #ffcf11;
}
.table_rent {
  border-collapse: collapse;
}
.table_rent th {
  background-color: #e0e0e0;
  color: #000000;
}
.table_rent td {
  background-color: #ffffff;
  color: #000000;
}
