@charset "UTF-8";

/* ABOUT US page */

.bg_about {
  position: relative;
  background-color: #cc8f8f;
  background-image: url("../img/roof-xs-min.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.bg_bio {
  // background-color: #297093;
  background-color: #000000;
  padding: 20px 0;
  background-image: url("../img/bio-bg-xs-min.jpg");
  background-position: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.bg_history {
  background-color: #ffffff;
  padding: 40px 0;
  background-image: url("../img/building-xs-min.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.bg_qa {
  background-color: #e0cda7;
  background-image: url("../img/wikiBG2.png");
  background-position: top;
  background-repeat: repeat-y;
  background-size: 100%;
  padding: 40px 10px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.bg_shimbun {
  background-color: #982E4B;
  padding: 40px 0;
//  background-image: url("../img/bg-papers-xs-min.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.bg-newspaper {
  background-color: #000000;
  padding: 40px 0;
  background-image: url("../img/bg-papers-xs-min.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.space4newspapersection {
  width: 100%;
  height: 150px;
}
.spaceBetweenSection {
  width: 100%;
  height: 35px;
}

.photo_txt {
  max-width: 600px;
}
.photo_txt td { 
	padding: 5px;
}
.growingDots {
	position: relative;
	background-image: url("../img/dots.svg");
	background-position: left top;
	background-repeat: repeat-y;
	background-size: 100% auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
}
.aboutTopImg {
  background-image: url("../img/aboutTop.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.about_chapTitle {
	font-family: Arial, Meiryo, Hiragino Kaku Gothic Pro, sans-serif;
	font-size: 1.6em;
	line-height: .6em;
	padding: 5px;
	margin:10px;
	font-weight: bold;
	text-align: left;
	//border-left: solid 10px #cc1111;
	border-bottom: solid 1px #777777;
}
.hiragana {
	font-family: Arial, Meiryo, Hiragino Kaku Gothic Pro, sans-serif;
	font-size: .5em;
	font-weight: normal;
}
.wordsOfFounder {
	quotes: '“' '”';
	margin: 20px;
}
.press_intro {
	margin: 20px;
}
.newspaperImg {
	position: relative;
	background-color: #000000;
	border: 8px solid #000000;
}
.bookTbl {
	 border: 0; 
	 cellspacing: 0; 
	 cellpadding: 0; 
	 width: 100%; 
	 margin-left: 50px;
}
.bookTbl td {
	vertical-align: bottom;
}
.bioTbl {
	padding: 10px;
	background-color: rgba(0,0,0,.5);
	border: 0; 
	cellspacing: 0; 
	cellpadding: 0; 
	width: 90%; 
	height: 100%;
}
.bioTbl td {
	padding: 5px;
}
.bioTbl td {
	padding-left: 10px;
}

.content_text {
  font-family: Arial, Meiryo, Hiragino Kaku Gothic Pro, sans-serif;
  font-size: 14px;
}
.small-text {
  font-family: Arial, Meiryo, Hiragino Kaku Gothic Pro, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.newspapersum {
	font-family: Meiryo, Hiragino Kaku Gothic Pro;
	font-size: 11px;
	margin-top: 10px;
	color: #ffffff;
}
.newspaperTitle {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.date {
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.date-underline {
	border-bottom: 1px solid yellow;
	width: 50px;
}
.pregunta {
	color: #cc1111;
	padding: 20px;
	font-size: 1.2em;
	font-weight: bold;
}
.respuesta {
	color: #111;
	font-size: 13px;
	line-height: 1.4;
	font-weight: normal;
}
.granQ {
	font-size: 80px;
	font-weight: bold;
}
.wiki {
  background-image: url("../img/wikiBG.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px;
}
.paperTbl {
	 border: 0;
	 cellspacing: 0; 
	 cellpadding: 0; 
	 width: 100%; 
	 min-height: 130px;
}
.paperTbl td {
	vertical-align: middle;
}
@media (min-width: 768px) {
	.respuesta { font-size: 15px; }
	.content_text,
	.small-text { font-size: 16px; }
	.spaceBetweenSection { height: 80px;}
	.space4newspapersection { height: 250px;}
	.bg_about {background-image: url("../img/roof-min.png");}
	.bg_bio {background-image: url("../img/bio-bg-min.jpg");}
	.bg_history {background-image: url("../img/building-min.jpg");}
	.bg-newspaper {background-image: url("../img/bg-papers-min.jpg");}
	.bookTbl {height: 600px;}
}
@media (min-width: 992px) {
	.content_text,
	.small-text { font-size: 18px; }
	.space4newspapersection { height: 400px;}
}
