@charset "UTF-8";

/* ABOUT US page */

.bg_about {
  position: relative;
  background-color: #cc8f8f;
  background-image: url("../img/roof-xs-min.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.bg_bio {
  //background-color: #297093;
  background-color: #fff;
  padding: 20px 0;
  // background-image: url("../img/bio-bg-xs-min.jpg");
  background-position: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.bg_history {
  background-color: #ffffff;
  padding: 40px 0;
  background-image: url("../img/building-xs-min.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.bg_qa {
  background-color: #e0cda7;
  background-image: url("../img/wikiBG2.png");
  background-position: top;
  background-repeat: repeat-y;
  background-size: 100%;
  padding: 40px 10px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.bg_shimbun {
  background-color: #982E4B;
  padding: 40px 0;
//  background-image: url("../img/bg-papers-xs-min.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.bg-newspaper {
  background-color: #000000;
  padding: 40px 0;
  background-image: url("../img/bg-papers-xs-min.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.space4newspapersection {
  width: 100%;
  height: 150px;
}
.spaceBetweenSection {
  width: 100%;
  height: 35px;
}

.photo_txt {
  max-width: 600px;
}
.photo_txt td { 
	padding: 5px;
}
.introduction {
	margin: 20px;
}
.growingDots {
	position: relative;
	background-image: url("../img/dots.svg");
	background-position: left top;
	background-repeat: repeat-y;
	background-size: 100% auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
}
.aboutTopImg {
  background-image: url("../img/aboutTop.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.about_chapTitle {
	font-family: Arial, Meiryo, Hiragino Kaku Gothic Pro, sans-serif;
	font-size: 1.6em;
	line-height: .6em;
	padding: 5px;
	margin:10px;
	font-weight: bold;
	text-align: left;
	//border-left: solid 10px #cc1111;
	border-bottom: solid 1px #777777;
}
.hiragana {
	font-family: Arial, Meiryo, Hiragino Kaku Gothic Pro, sans-serif;
	font-size: .5em;
	font-weight: normal;
}
.wordsOfFounder {
	margin: 20px;
}
.wordsOfFounder > p,
.wordsOfFounder > img {
	display: inline;
}
.press_intro {
	margin: 20px;
}
.newspaperImg {
	position: relative;
	background-color: #000000;
	border: 8px solid #000000;
}
.bookTbl {
	 border: 0; 
	 cellspacing: 0; 
	 cellpadding: 0; 
	 width: 100%; 
	 margin-left: 0;
}
.bookTbl td {
	vertical-align: bottom;
}
.bioTbl_title {
	margin: 50px 10px 20px;
	padding-bottom: 3px;
	border-bottom: 8px solid #c11;
}
.bioTbl {
	padding: 10px;
	border: 0; 
	cellspacing: 0; 
	cellpadding: 0; 
	width: 90%; 
	height: 100%;
	font-size: 14px;
	margin-left: 30px;
}
.bioTbl td {
	padding: 5px;
}
.bioTbl td {
	padding-left: 10px;
}
.founder_img {
  background-image: url("../img/founder_bg.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  padding: 0;
  position: relative;
  height: 320px;
  overflow: hidden;
}
.founder_img img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
}
.rotate_bg {
  position: absolute;
  bottom: 100px;
  leftt: 0;
  width: 100%;
  max-width: 100%;
  height: 250px;
  overflow: hidden;
}
.rotate_bg img {
  -webkit-animation:spin 80s linear infinite;
  -moz-animation:spin 80s linear infinite;
  animation:spin 80s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.content_text {
  font-family: Arial, Meiryo, Hiragino Kaku Gothic Pro, sans-serif;
  font-size: 14px;
}
.small-text {
  font-family: Arial, Meiryo, Hiragino Kaku Gothic Pro, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.newspapersum {
	font-family: Meiryo, Hiragino Kaku Gothic Pro;
	font-size: 11px;
	margin-top: 10px;
	color: #ffffff;
}
.newspaperTitle {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.date {
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.date-underline {
	border-bottom: 1px solid yellow;
	width: 50px;
}
.qanda_index {
	list-style: none;
	color: #c11;
	font-weight: bold;
	font-size: 14px;
}
.qanda_index li {
	margin-bottom: 7px;
}
.pregunta {
	color: #c11;
	padding: 20px;
	font-size: 1.2em;
	font-weight: bold;
}
.pregunta_num {
	background-color: #c11;
	padding: 0 10px;
	border-radius: 5px;
	color: #fff;
}
.respuesta {
	color: #111;
	font-size: 13px;
	line-height: 1.4;
	font-weight: normal;
}
.granQ {
	font-size: 80px;
	font-weight: bold;
}
.wiki {
  background-image: url("../img/wikiBG.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px;
}
.paperTbl {
	 border: 0;
	 cellspacing: 0; 
	 cellpadding: 0; 
	 width: 100%; 
	 min-height: 130px;
}
.paperTbl td {
	vertical-align: middle;
}
.history_block_container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	height: 400px;
	background: #fff;
	max-width: 100%;
	overflow-x: auto;
	overflow-x: scroll;
	scrollbar-color: #c11 #ddd;
	scrollbar-width: thin;
}
.box {
	padding: 20px;
	color: #000;
	background-color: #fff;
	border: 1px solid #ddd;
	flex: 1;
	-webkit-flex: 1;
	min-width: 300px;
}
.box .year {
	font-size: 24px;
	border-bottom: 5px solid #c11;
	margin-bottom: 20px;
	position: relative;
}
.box .year .jp{
	font-size: 14px;
	position: absolute;
	bottom: 5px;
	left: 90px;
	color: #555;
}
.box p {
	font-size: 16px;
	line-height: 1.2;
}
.box img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.box .pic_descrip {
	font-size: 12px;
	line-height: 1.1;
	color: #2d307a;
	text-align: center;
	margin-top: 3px;
}
.box .memo {
	font-size: 12px;
	line-height: 1.3;
	color: #2d307a;
	margin-top: 3px;
	padding: 5px;
	border: 1px solid #2d307a;
}
@media (min-width: 768px) {
	.respuesta { font-size: 15px; }
	.content_text,
	.small-text { font-size: 16px; }
	.spaceBetweenSection { height: 80px;}
	.space4newspapersection { height: 250px;}
	.bg_about {background-image: url("../img/roof-min.png");}
	//.bg_bio {background-image: url("../img/bio-bg-min.jpg");}
	.bg_history {background-image: url("../img/building-min.jpg");}
	.bg-newspaper {background-image: url("../img/bg-papers-min.jpg");}
	.bookTbl {margin-left: 50px; height: 500px; width: 80%;}
	.qanda_index {font-size: 16px; }
	.founder_img {height: 600px; }
	.founder_img img {}
	.rotate_bg {bottom: 250px; height: 350px;}
}
@media (min-width: 992px) {
	.content_text,
	.small-text { font-size: 18px; }
	.space4newspapersection { height: 400px;}
}
