@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Zen+Kurenaido|Zen+Antique&display=swap');

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.course_bg {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-color: #000000;
    background-image: url("../img/course/courseBGImage.jpg");
	background-position: center;
	background-attachment: fixed;
}
.courseTitle {
	font-size: 30px;
	line-height: 30px;
	margin-top: 7px;
	font-family: Arial, JPFont;
}
.paddingShowBG {
	height: 200px;
}
.navibar {
  position: relative;
  background-color: transparent;
  max-width: 100%;
}
.smallTitle {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.langFlag {
  display: inline-block;
  vertical-align: middle;
}
.nav_courses {
  color: #ffffff;
  font-size: 13px;
  list-style-type: none;
}
.nav_courses li {
  margin: 2px;
}
.event_report {
	margin: 10px;
	padding: 10px;
	border: 5px solid #ddd;
}
.event_report thead {
	background-color: #ddd;
}
.teacher_profile {
	width: 100%;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
}
.teacher_profile dt,
.teacher_profile dd {
	vertical-align: middle;
}
.teacher_profile dt {
	display: none;
}
.teacher_profile dt img {
	position: absolute;
	width: 90%;
	bottom: 20px;
	left: 20px;
}
.teacher_profile dd {
	width: 90%;
	margin: 0 auto;
	font-size: 12px;
	line-height: 1.2;
}
.teacher_profile dd img {
	width: 90%;
	margin: 10px auto;
}
.teacher_name {
	font-family: sans-serif;
	font-size: 18px;
	border-bottom: 3px solid #c11;
	margin-bottom: 20px;
	text-align: right;
}
@media (max-width: 767px) {
	.nav_courses li a {
		color: #000000;
		background: #ffffff;
		padding: 5px;
	}
	.nav_courses li {
		margin: 15px;
	}
}
.nav_courses a {
  color: inherit;
  text-decoration: none;
}
.nav_courses a:hover {
  color: #aaaaaa;
}
.org_course,
.red_course {
  padding-left: 5px;
}
.org_course:before {
  font-family: 'Glyphicons Halflings';
  color: #ff9111;
  content: "\e074";
  margin-right: 3px;
}
.red_course:before {
  font-family: 'Glyphicons Halflings';
  color: #cc1111;
  content: "\e074";
  margin-right: 3px;
}
.orange_course {
  padding-left: 5px;
  border-left: solid 13px #ff9111;
}
.core-message {
  font-family: serif;
  background: #34495e;
  font-size: 15px;
  line-height: 17px;
  width: 95%;
  margin: 20px auto;
  color: #fff;
  padding: 20px 30px 10px;
  text-shadow: #fdccff 1px 0 20px;
  border-radius: 10px;
}
.core-message p {
  margin-bottom: 20px;
}
.teachers_message {
  font-family: Zen Kurenaido, serif;
  font-size: 14px;
  line-height: 1.5;
  // background: #fffbed;
  width: 90%;
  margin: 20px auto;
  //color: #7b241c;
  padding: 20px 30px 0;
  border-radius: 10px;
  color: #111;
}
.teachers_message .author {
  font-family: Zen Kurenaido, serif;
  font-size: 14px;
  text-align: right;
  margin-top: 20px;
  //color: #7b241c;
}
.course_schedule,
.course_schedule2 {
  width: 100%;
  margin: 10px auto 30px;
  padding: 10px;
  font-size: 14px;
}
.course_schedule thead tr th {
  background-color: #d6eaf8;
  border: 5px solid #d6eaf8;
  padding: 10px;
}
.course_schedule tbody tr td {
  background-color: #fff;
  border: 5px solid #d6eaf8;
  padding: 10px;
}
.course_schedule2 thead tr th {
  background-color: #f6ddcc;
  border: 5px solid #f6ddcc;
  padding: 10px;
}
.course_schedule2 tbody tr td {
  background-color: #fff;
  border: 5px solid #f6ddcc;
  padding: 10px;
}
.course_schedule .dates,
.course_schedule2 .dates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.course_schedule .dates dt {
  width: 40%;
  margin-bottom: 10px;
  border-bottom: 3px solid #d6eaf8;
}
.course_schedule .dates dd {
  width: 60%;
  margin-bottom: 10px;
  border-bottom: 3px solid #d6eaf8;
}
.course_schedule2 .dates dt {
  width: 40%;
  margin-bottom: 10px;
  border-bottom: 3px solid #f6ddcc;
}
.course_schedule2 .dates dd {
  width: 60%;
  margin-bottom: 10px;
  border-bottom: 3px solid #f6ddcc;
}
.course_schedule .dates dt:last-of-type, 
.course_schedule .dates dd:last-child, 
.course_schedule2 .dates dt:last-of-type, 
.course_schedule2 .dates dd:last-child {
	margin-bottom: 0;
	border-bottom: none;
}
@media (min-width: 1200px) {
  .navibar {
	  max-width: 100%;
	  left: 0%;
	  margin-left: auto;
  }
}
@media (min-width: 768px) {
	.courseTitle {
		font-size: 45px;
		line-height: 45px;
		margin-top: 7px;
	}
	.paddingShowBG {
		height: 400px;
	}
	.core-message {
		font-size: 18px;
		line-height: 20px;
		width: 90%;
	}
	.teachers_message {
		font-size: 16px;
		line-height: 1.5;
	}
	.teacher_profile dt {
		width: 40%;
		text-align: center;
		position: relative;
	}
	.teacher_profile dd {
		width: 50%;
		margin: 20px;
		font-family: sans-serif;
		font-size: 12px;
		line-height: 1.2;
	}
}
.photoTxt {
  font-family: Arial, "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 12px;
  color: #0e5691;
  text-decoration: none;
  vertical-align: middle;
  text-align: right;
  line-height: 12px;
  margin-right: 5px;
}
.course-detail a {
  text-decoration: none;
  color: inherit;
}
.itemTitle {
	font-family: Arial, JPFont;
	color: #1c1c1c;
	font-weight: bold;
	border-bottom: solid 1px #777777;
	border-left: solid 10px #0e5691;
	padding-left: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.courseInfo {
	color: #c11;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
}

.bg_gris {
	background-color: #dddddd;
	padding: 10px;
}
@media (min-width: 768px) {
	.bg_gris {
		margin: 10px;
		padding: 10px 20px;
	}
}
.commentSqr {
	quotes: '“' '”';
	padding: 50px;
}
.commentSqr:before {
    display: block;
    font-size: 100px;
    margin: -60px 10px;
    font-family: arial;
    color: #cc1111;
    content: open-quote;
}
.commentSqr:after {
    display: block;
    font-size: 100px;
    margin: -10px 5px;
    float: right;
    font-family: arial;
    color: #cc1111;
    content: close-quote;
}
.applyBtn {
    background-color: #cc1111;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.courseSq {
	background-color: #ffffff;
	padding: 15px;
	color: #000000;
	font-family: inherit;
	border: solid 2px #cc1111;
	border-radius: 15px;
}
.coursePhoto {
	position: relative;
	margin: auto;
	width: 400px;
	text-align: center;
	display: inline-block;
	border: solid 2px #0e5691;
	padding: 3px;
}
.course-detail ul {
	margin-left: 20px;
}
.sumTxt {
	color: #000000;
	font-weight: bold;
}
.sumTxt::before {
	content: '\201c';
}
.sumTxt::after {
	content: '\201d';
}
.detailTxt {
	color: #000000;
}

/* footer */
.courseFooter {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  height: 150px;
  padding: 20px 10px;
}
/* responsive design */
@media (max-width: 767px) {
	.course_bg {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (min-width: 768px) {
	.course_bg {
		background-size: cover;
		background-repeat: no-repeat;
	}
}