@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Zen+Kurenaido|Zen+Antique&display=swap');

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.event_bg {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-color: #000000;
    background-image: url("../img/event/eventBGImage.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.xmas_bg {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-color: #000000;
    background-image: url("../img/event/xmasBGImage1.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}
.paddingShowBG {
	height: 150px;
}
.listaFechas li{
  display: block;
}
.listaFechas li:before {
    content: "\e023\00a0";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #000000;
}
.navibar {
  position: relative;
  background-color: transparent;
  max-width: 100%;
}
.smallTitle {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.langFlag {
  display: inline-block;
  vertical-align: middle;
}
.nav_events {
  color: #fff;
  font-size: 13px;
  list-style-type: none;
}
.nav_events li {
  margin: 15px;
  padding-left: 20px;
}
.nav_events a {
	color: #000000;
	background: #ffffff;
	padding: 5px;
	text-shadow: none;
	text-decoration: none;
}
.nav_events a:hover {
  color: #aaaaaa;
}
.nav_events a:before {
  font-family: 'Glyphicons Halflings';
  color: #ff9111;
  content: "\e074";
  margin-right: 3px;
}
.eventTitle {
	font-size: 30px;
	line-height: 30px;
	font-family: Arial, JPFont;
}
.itemTitle {
	font-family: Arial, JPFont;
	color: #cc1111;
	font-weight: bold;
	border-bottom: solid 1px #777777;
	border-left: solid 10px #cc1111;
	padding-left: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.eventDate {
	color: #777777;
	font-size: 12px;
	font-weight: bold;
}

.bg_blanco {
	background-color: #ffffff;
	padding: 10px;
}
.bg_gray {
	background-color: #ddd;
	padding: 10px;
}
.chap_title {
	font-size: 20px;
	font-weight: bold;
	color: #982005;
	margin: 30px auto 0;
}
.chap_title .message {
	font-family: serif;
	font-size: 18px;
	font-style: italic;
}
.musicians {
	font-size: 12px;
	color: #053b78;
}
.program_detail {
	width: 100%;
	background: url("../img/event/violin_kid2.jpg");
	background-position: center left;
	background-repeat: repeat-y;
	background-size: 200px auto;
	padding-left: 80px;
	margin: 0 auto;
}
.program_detail ul {
	background: rgba(200,200,200,.3);
	padding: 10px 30px;
}
.program_detail ul li {
	margin-top: 18px;
}
.program_detail .comment {
	font-family: Zen Kurenaido, serif;
	font-size: 14px;
	color: #982005;
	background: rgba(255,255,255,.6);
	padding: 10px;
}
.program_detail .comment .author {
	text-align: right;
	margin: 5px;
	font-family: Zen Kurenaido, serif;
	font-size: 14px;
	color: #982005;
	background: rgba(255,255,255,.6);
	padding: 10px;
}
.insideComment {
	font-family: Zen+Kurenaido, serif;
	font-size: 14px;
	line-height: 1.2;
}
.event_report {
	width: 100%;
	margin: 20px auto;
	padding: 10px;
}
.event_report thead tr th {
	background-color: #ddd;
	border: 5px solid #ddd;
	padding: 10px;
}
.event_report tbody tr td {
	background-color: #fff;
	border: 5px solid #ddd;
	padding: 10px;
}
@media (min-width: 1200px) {
  .navibar {
	  max-width: 100%;
	  left: 0%;
	  margin-left: auto;
  }
}
@media (min-width: 768px) {
	.eventTitle {
		font-size: 45px;
		line-height: 45px;
		margin-top: 8px;
	}
	.paddingShowBG {
		height: 200px;
	}
	.bg_blanco {
		margin: 10px;
		padding: 10px 20px;
	}
	.program_detail {
		background-size: 300px auto;
		padding-left: 120px;
	}
}
.commentSqr {
	quotes: '“' '”';
	padding: 50px;
	background-image: url("../img/comment_red.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.commentSqr:before {
    display: block;
    font-size: 100px;
    margin: -50px 10px;
    font-family: arial;
    color: #cc1111;
    content: open-quote;
}
.commentSqr:after {
    display: block;
    font-size: 100px;
    margin: -10px 5px;
    float: right;
    font-family: arial;
    color: #cc1111;
    content: close-quote;
}
.applyBtn {
    background-color: #cc1111;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.eventSq {
	background-color: #ffffff;
	padding: 15px;
	color: #000000;
	font-family: inherit;
	border: solid 2px #cc1111;
	border-radius: 15px;
}
.eventPhoto {
	position: relative;
	margin: auto;
	width: 400px;
	text-align: center;
	display: inline-block;
	border: solid 2px #cc1111;
	padding: 3px;
}
.event-detail {
	line-height: 1.4;
}
.event-detail ul {
	margin-left: 20px;
}
.profile {
	background-color: #ededed;
	color: #2b5f75;
	font-size: 14px;
	line-height: 1.2;
	padding: 20px;
	width: 90%;
	margin: 10px auto;
}
/*** Kids Concert ***/
.kids_bg {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
    background-image: url("../img/event/kidsconcertbg3-min.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.navibar_kids {
  position: relative;
  background-color: #000;
  max-width: 100%;
}
.kids_title {
	background-image: url("../img/event/kids_title.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
	width: auto;
	margin: 0 auto;
	background-color: #fff;
	content: "";
}
.kids-event-detail {
	width: 80%;
	margin: 30px auto;
	font-family: "Zen Kurenaido", serif;
	font-size: 18px;
	line-height: 1;
	color: #111;
}
.obsolete-idea {
	font-family: "Zen Antique", serif;
	font-size: 16px;
	line-height: 1;
	color: #888;
	margin: 10px;
}
.kids-event-detail .author {
	text-align: right;
	color: #c11;
	font-size: 16px;
}
.sumTxt {
	color: #000000;
	font-weight: bold;
}
.sumTxt::before {
	content: '\201c';
}
.sumTxt::after {
	content: '\201d';
}
.detailTxt {
	color: #000000;
}

/* footer */
.eventFooter {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  height: 150px;
  padding: 20px 10px;
}
@media (max-width: 767px) {
	.event_bg {
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
	}
}
@media (min-width: 768px) {
	.event_bg {
		background-size: cover;
		background-repeat: no-repeat;
	}
}
