@charset "UTF-8";

/* NEWS page */
.news-link,
.covid-link{
  background: #fff;
  border-bottom: 0.1px solid #cc1111;
}
.news-link img,
.covid-link img{
  height: 50px;
  max-width: 100%;
  display: inline-block !important;
  vertical-align: middle;
  padding-left: 20px;
}
.news-link .newsTitle,
.covid-link .newsTitle,{
  display: inline-block !important;
  vertical-align: middle;
}
.newsHeaderContent {
  border: 0;
  cellspacing: 0; 
  cellpadding: 0; 
  width: 100%; 
  height: 100%;
}
.newsHeaderContent .title-part {
  width: 65%; 
  align: left;
}
.newsHeaderContent tr td {
  vertical-align: middle;
}
td.news-link{
  background:#ffffff; 
  border-bottom: 0.1px solid #cc1111;
}
.covid-link:hover{
  cursor: pointer;
  background:#e0e0e0; 
}
td.news-link:hover{
  cursor: pointer !important;
  background:#e0e0e0 !important; 
}
.chapter-title{
  font-family: Arial;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 50px;
  border-bottom: 1rem solid #cc1111;
}
.highlight_title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}
.highlight_date a,
.highlight_date {
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    margin: 5px 0;
    text-decoration: none;
}
.highlight_date-underline {
    border-bottom: 1px solid #cc1111;
    width: 50px;
    padding: 5px 0;
    margin-bottom: 10px;
}
.highlights{
  display: flex; 
  max-width: 1000px;
  width: 90%;
  max-height: 350px;
  margin: auto;
  align-items: stretch;
}
.scroller{
  flex: 1;
  overflow: hidden;
}
.items{
  list-style-type: none;
  position: relative;
  top: 0;
  width: 100%;
  white-space: nowrap;
  transition: transform 1s ease-in-out;
}
.item{
  padding: 0 20px;
  margin: auto;
  display: inline-block;
  width: 100%;
  max-height: 350px;
  background-size: cover;
  top: 0;
  box-shadow: inset 2px rgba(0,0,0,0.75);
  overflow: hidden;
}
.item a{
  text-decoration: none;
}
button{
  width: 30px;
  border: none;
  background: transparent;
  top: 50%;
  color: #000;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
  
  &:hover{
    opacity: 1;
  }
}
.hightlight_detail {
    position: absolute;
    background-color: #4d4d4d;
    top: 50px;
    left: 10px;
    height: 200px;
    width: 40%;
    padding: 10px;
    white-space: normal;
    font-family: Arial, Meiryo, Hiragino Kaku Gothic Pro, sans-serif;
}
.hightlight_detail a{
    text-decoration: none;
}

/* CAROUSEL */


@media screen and (max-width: 767px) {
 .item {max-height: 250px;}
 .chapter-title{ top: 20px;}
 .news-link .newsTitle,
 .covid-link .newsTitle{
    display: none;
 }
 .newsHeaderContent .title-part {
    width: 75%; 
 }
 .highlight_title {
 	font-size: 16px;
 	line-height: 16px;
 }
 .hightlight_detail {
 	position: absolute;
 	width: 100%;
 	top: initial;
 	left: initial;
 	bottom: 0;
 	height: 120px;
 }
}
